<main
  class="bg-slate-900 size-full p-10 flex flex-col items-center justify-center"
>
  <div class="h-full md:min-w-[500px] flex flex-col justify-center">
    <h1 class="pb-4 text-4xl font-extrabold text-center text-orange-500">
      Chat
    </h1>

    <div
      class="size-full max-h-[80%] px-1 py-2 border border-slate-300 rounded-2xl"
    >
      <ul #chatContainer id="chat-container" class="size-full overflow-y-auto" [scrollTop]="scrollToBottom()">
        @for (message of messages; track message._id) {
        <li class="flex flex-row px-4 py-1">
          <span class="pr-2 font-semibold text-orange-500">
            [{{ message.date | date : "HH:mm" }}]
          </span>
          <p class="text-slate-300">{{ message.text }}</p>
        </li>
        }
      </ul>
    </div>

    <form class="mt-5 flex flex-row justify-between" (ngSubmit)="sendMessage()">
      <input
        class="w-full rounded-md px-2 py-1 outline-none"
        type="text"
        name="message"
        placeholder="Type a message..."
        [(ngModel)]="message"
      />
      <button
        class="ml-2 px-2 py-1 bg-orange-500 hover:bg-orange-600 text-white font-bold rounded-md ease-in-out duration-300 transition-all"
      >
        Send
      </button>
    </form>
  </div>
</main>
